{% extends 'base2.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}
</style>
    <br><br><br><br>
    <div class="container-lg">
    <div class="row">
        <div class="card">
            <div class="card-body">
            <div class="col-sm-12 text-start"><h2>Data Penilaian Pengguna <b>Story.La</b></h2></div>
            <div class="col-sm-12 text-end">
           <a href="/tambahnilai"><button type="button" class="btn btn-info add-new text-end"><i class="fa fa-plus"></i> Tambah Cerita</button></a></div><br><br>                  
           <table class="table table-bordered">
            <thead>
                <tr style="text-align: center;">
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Foto</th>
                    <th>Penilaian</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for nilai in berita %}
                <tr>
                    <td>{{ nilai.nama }}</td>
                    <td>{{ nilai.email }}</td>
                    {% if nilai.gambar %}
                    <td><img width="100px" src="{{nilai.gambar.url}}" alt=""></td>
                    {% endif %}
                    <td>{{ nilai.komentar }}</td>
                    <td>{{ nilai.status_id }}</td>
                    <td>
                        <a href="{% url 'update2' nilai.pk %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a href="#" onclick="hapusnilai('{{ nilai.pk }}', '{{ nilai.nama }}')" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
</div>

<script>
    function hapusnilai(id, nama){
    swal({
      title: "Apakah Anda Yakin?",
      text: "Setelah data "  +  nama  +  " dihapus, data tidak dapat dikembalikan!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        swal("Berhasil!", "Data "  +  nama  +  " Berhasil Dihapus!", "success").then(function(){
          window.location = "/datapenilaian/deletenilai/"+id;
        });
      }
    });
  }
  </script>
{% endblock %}